#main_title
{
	font-family: Dancing Script;
	text-align: center;
	font-size: 3em;
}

h2
{
	font-family: kalam;
}

h2 span
{
	font-family: bold;
}

p
{
	line-height: 1.5;
	font-size: 18px;
}

.image
{
	flex-grow: 2;
	/* width: 100%; */
}

.puppy_image
{
	width: 100%;
	width: 30em;
}

.row
{
	width: 100%;
	display: flex;
	align-items: stretch;
}

.block
{
	padding: 10px;
	border: 2px solid gray;
	/* flex-grow: 1; */
}

.first
{
	flex-grow: 1;
}

.block .second
{
	flex-grow: 1;
}

.image h2
{
	text-align: center;
}

ul
{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	padding: 0;
	margin: 0;
	height:100%;
	/* width:75%; */
}

ul li
{
	margin: 0;
	padding: 10px;
	height: 10%;
	flex-basis: 100%;
}

#p
{
	background-color: khaki;
}

#t
{
	background-color: lightcyan;
}

#l
{
	background-color: lightgreen;
}

#o
{
	background-color: lightskyblue;
}

#s
{
	background-color:mediumslateblue;
}

.row .colors
{
	display: block;
	font-weight: bold;
	align-items: center;
	color: darkslategrey;
	width: 75%;
	font-size: 150%;
}

.row .first2
{
	width: 35%;
}

.colors
{
	border-right: 1px solid black;
	padding: 0;
	margin: 0;
}

.second_row
{
	width: 100%;
	display: flex;
}
